/* color palette from <https://github.com/vuejs/theme> */
:root {
    /* CSS HSL */
    --ghost-white: hsla(240, 100%, 98%, 1);
    --coral: hsla(19, 97%, 64%, 1);
    --celestial-blue: hsla(206, 88%, 55%, 1);
    --bittersweet: hsla(4, 79%, 63%, 1);
    --darkorange: hsla(4, 79%, 11%, 1);
    --night: hsla(330, 6%, 7%, 1);
    --gray: hsla(330, 0%, 13%, 1);
}

/* semantic color variables for this project */
:root {
    --color-background: var(--night);
    --color-background-light: var(--gray);
    --color-background-soft: var(--darkorange);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--celestial-blue);
    --color-text: var(--ghost-white);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
} */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition:
        color 0.5s,
        background-color 0.5s;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    cursor: pointer;
    background-color: var(--bittersweet);
    font-weight: bold;
}
